* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: all .5s;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #bbb;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.r-90 {
  transform: rotate(90deg);
}

.button {
  background: #4621cf;
  color: #c7c7c7;
  font-weight: 500;
  border-radius: 9px;
  cursor: pointer;
  user-select: none;
  border: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: #101010;
  color: #c7c7c7;
}

#image-view {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #101010;
  display: none;
}

#image-view > img {
  width: 98%;
}

#image-view-close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 2em;
}

nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand {
  height: 50px;
  width: 50px;
}

#nav-bar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

#close-search {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em !important;
  border: 1px solid #313539;
  color: #c7c7c7;
  font-weight: 900;
  border-radius: 50%;
}

#nav-bar > i {
  font-size: 1.7em;
  color: #4621cf;
}

#search-value {
  height: 35px;
  width: 0px;
  border-radius: 24px;
  background: none;
  border: none;
  outline: none;
  color: #c7c7c7;
  font-size: 1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

#search {
  margin: 0 12px;
}


#tab-bar {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #313539;
}

#tab-bar  i {
  font-size: 2em;
  color: #101010;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c7c7c7;
  opacity: .5;
}

#tab-bar .active {
  opacity: 1;
  color: #4621cf;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4621cf;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

#main-container {
  height: calc(100vh - 115px);
  background: #101010;
  position: relative;
  overflow-x: hidden;
}

#main-container > div {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #101010;
}

#home-page > #slider-container {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-top: 6px;
}

#slider-container > div {
  flex: none;
  margin-right: 5px;
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: space-around;
  padding: 0 12px;
  flex-direction: column;
  border-radius: 4px;
  background: #212529;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.title {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #313539;
}

.title > span {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
}

.title > .choice-box {
  height: 100%;
  width: 50%;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}


.dd {
  font-size: 1.5em;
  margin-left: 6px;
}

#sort-box {
  z-index: 100;
  position: absolute;
  top: 45px;
  right: -5px;
  background: #101010;
  height: 0;
  width: 0;
  overflow: hidden;
  border-radius: 8px 0 8px 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

#sort-box > div {
  height: 11.1%;
  width: 100%;
  display: flex;
  font-size: .7em;
  font-weight: 500;
  letter-spacing: 1px;
  align-items: center;
  border-bottom: 1px solid #313539;
  position: relative;
}

.sort-check:before {
  content: '✔';
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 1em;
  color: #4621cf;
}

#sort-box > div:last-child {
  border: none;
}

.lists-loader {
  height: calc(100% - 55px);
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.lists-loader > div {
  flex: none;
  height: 120px;
  width: 100%;
  margin-top: 12px;
  border-radius: 4px;
  background: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lists-loader > div > img {
  height: 50%;
  opacity: .5;
}

.lists-loader > div:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 20%;
  background: #313539;
  left: 0;
  top: 0;
  animation: ll 1.5s ease-in infinite;
}

.lists-loader > .d1:before {
  animation-delay: 1s;
}
.lists-loader > .d2:before {
  animation-delay: 1.1s;
}

.lists-loader > .d3:before {
  animation-delay: 1.2s;
}

.lists-loader > .d4:before {
  animation-delay: 1.3s;
}

.lists-loader > .d5:before {
  animation-delay: 1.4s;
}

.lists-loader > .d6:before {
  animation-delay: 1.5s;
}


@keyframes ll {
  0% {
    opacity: .5;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(550px);
  }
}


#lists-page > .content-container {
  height: calc(100% - 57px);
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 88;
  background: #101010;
}

.user-details-page {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #101010;
}

.user-details-page > span {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.user-details-page > div {
  height: 50px;
  width: 98%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #313539;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.user-details-page > div > b {
  width: 40%;
}

#user-details-page-hide {
  margin-left: 5px;
  font-size: 2em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

#lists-page > .content-container > .in-out {
  background: #212529;
  flex: none;
  margin-top: 6px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.empty-users-lists-box {
  height: 100%;
  width: 100%;
  font-size: 3em;
  letter-spacing: 1.5px;
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lists-page > .content-container > .user-item {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-item > span {
  font-weight: 300;
}

.user-item > span:first-child {
  width: 40%;
}

.user-item > span:nth-child(2) {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.user-item > button {
  height: 25px;
  width: 10%;
  color: #c7c7c7;
  font-size: .8em;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.bann-btn {
  background: #dd1d1d;
}


.withdrawal-item {
  height: 400px;
}

.wr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.wr > div {
  height: 40px;
  width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wr > div > b,
.wr > div > span {
  width: 50%;
}

.wr > .btn-gp {
  justify-content: flex-end;
}

.wr > .btn-gp > .confirm-btn {
  height: 40px;
  width: 125px;
  border-radius: 4px;
}
  
.recharge-item {
  height: 500px;
}

.recharge-item > img {
  height: 100px;
  width: 80px;
}