.intro-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #10131c;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.intro-page > .img-box {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 22px;
  border: 1px solid #313539;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.intro-page > .img-box > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
  
.intro-page > .name-box {
  margin-top: 22px;
  height: 100px;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-page > .name-box > h1 {
  position: relative;
  font-size: 4em;
  color: #10131c;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5621cf;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.intro-page > .name-box > h1:before {
  content: 'MS Wallet';
  position: absolute;
  width: 0%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  left: 0;
  color: #c1c5c9;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5621cf;
  animation: brandLoading 6s ease-in-out forwards;
}